{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <div class="modal fade" id="myModal" role="dialog" style="display: none;">
      <div class="modal-dialog modal-md">
        <center><video id="myVideo" class="myVideo" src="{% static 'images/video.mp4' %}"></video></center>
      </div>
  </div>
  <h2 id="header2">Log in to My Site</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post" id="form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" id="input"/>
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="button" onclick="playVideo()" id="button">Log in</button>
    <a href="{% url 'reverse_shell:signup' %}">New to My Site? Sign up</a>
  </form>

  <script>
    document.getElementById('myVideo').addEventListener('ended', closeModal, false);

    function playVideo() {
        // Validation shit
        const form = document.getElementById('form');
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "reverse_shell:validate_login" %}', false);

        try {
          xhr.send(new FormData(form));
          if (xhr.status == 200) {
            // Animation shit
            document.getElementById('header').style.display = "none";
            document.getElementById('header2').style.display = "none";
            document.getElementById('form').style.display = "none";
            document.body.style.backgroundImage = "url(https://vignette.wikia.nocookie.net/psychopass/images/5/50/Wiki-background/revision/latest?cb=20181204222150)";
            document.getElementById('myModal').style.display = "flex";
            $("#myModal").modal()
            $(".container").hide();
            document.getElementById('myVideo').play();
          } else{
            document.getElementById('form').submit();
          }
        } catch(err) { // instead of onerror
          alert("Request failed");
        }
    }
    function closeModal() {
        $(".container").show();
        $('#myModal').modal('hide');
        document.getElementById('form').submit();
    }
  </script>

{% endblock %}