<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
    <title>{% block title %}FhcrePbbyErirefrFuryy{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header id="header" class="header">
      <h1>ReverseShell</h1>
      {% if user.is_authenticated %}
        <a style="padding-right: 10px;" href="{% url 'reverse_shell:logout' %}">logout</a>
        <a href="{% url 'reverse_shell:choose_victim' %}">Connect to victim</a>
      {% else %}
        <a href="{% url 'reverse_shell:login' %}">login</a> / <a href="{% url 'reverse_shell:signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>